body {
  font-family: 'Roboto', sans-serif;
  border: 40px solid #d5d8df;
  box-sizing: border-box;
}


/* ListContacts */

.list-contacts {
  padding-top: 60px;
}


.contact-list {
  box-shadow: 0 8px 21px #000000;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.contact-list-item {
  padding: 15px 25px;
  background: white;
  display: flex;
  border-bottom: 1px solid #F5F5F5;
  height: 90px;
}

.contact-avatar {
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    flex-shrink: 0;
}

.contact-details {
    padding-left: 20px;
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 450px) {

    .contact-avatar {
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        flex-shrink: 0;
    }

    .contact-details {
        padding-left: 0;
        flex: 1 1;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contact-list-item {
        border-bottom: 1px solid #d5d8df;
        border-radius: 1px;
        padding: 20px 3px;
    }

}


.contact-details p {
  margin: 0;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* button */
.contact-remove {
  height: 30px;
  font-size: 14px;
  line-height: 14px;
  margin-top: 10px;
  border-right: 1px;
  background-color: #0080FF;
  margin-left: 20px;
}

.contact-remove:hover {
  background-color: #044FB3;
  border-radius: 1px;
}


/* User Icon */
.fa-user-plus {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

.username{
  font-size: 16px;
  line-height: 25px;
}